<!--
footer.mustache
- 참고 : 화면 영역은 코드가 굉장히 많으니 깃허브의 코드를 가져다 쓰자
(https://github.com/jojoldu/freelec-springboot2-webservice/tree/master/src/main/resources/templates/layout)
- 페이지의 로딩속도를 위해 css는 header에, js는 footer에 두었다.
  - js의 용량이 클수록 body 부분의 실행이 늦어진다 → js는 body 하단에 두어 화면이 다 그려진 뒤에 호출하는 것이 좋다.
-->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js/"></script>

<!--index.js 추가: 이게 있어야 글 등록 가능-->
<script src="/js/app/index.js"></script>
</body>
</html>