<!--
header.mustache
- 참고 : 화면 영역은 코드가 굉장히 많으니 깃허브의 코드를 가져다 쓰자
(https://github.com/jojoldu/freelec-springboot2-webservice/tree/master/src/main/resources/templates/layout)
- 페이지의 로딩속도를 위해 css는 header에, js는 footer에 두었다.
  - css는 화면을 그리는 역할이므로 header에 부른다. 그래야 css가 적용된 깨지지 않은 화면을 볼 수 이다.
-->

<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹 서비스</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>